<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Your Cart</title>
</head>
<body>
  <div class="navbar">
    <h2>3D-ALCHEMIST</h2>
    <div class="links">
      <a href="/">Home</a>
      <a href="/products">Products</a>
      <a href="/cart">Cart</a>
    </div>
  </div>

  <section class="products-section">
    <h2>Your Cart</h2>

    {% if items %}
    <form action="{{ url_for('update_cart') }}" method="POST">
      <table style="width:90%; margin:auto; background:white; padding:20px; border-radius:10px;">
        <tr>
          <th>Product</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Subtotal</th>
          <th>Action</th>
        </tr>

        {% for item in items %}
        <tr>
          <td>{{ item.product.title }}</td>

          <td>
            <input type="number" name="{{ item.product.id }}" 
                   value="{{ item.qty }}" min="1" style="width:60px;">
          </td>

          <td>{{ item.product.currency }} {{ "%.2f"|format(item.product.price) }}</td>
          <td>{{ item.product.currency }} {{ "%.2f"|format(item.subtotal) }}</td>

          <td>
            <a href="{{ url_for('remove_item', product_id=item.product.id) }}" style="color:red;">Remove</a>
          </td>
        </tr>
        {% endfor %}
      </table>

      <div style="margin-top:20px; text-align:center;">
        <button class="hero-btn" type="submit">Update Cart</button>
      </div>
    </form>
    <h2 style="margin-top:25px;">Total: {{ items[0].product.currency }} {{ "%.2f"|format(total) }}</h2>

    <div style="text-align:center; margin-top:20px;">
      <form action="{{ url_for('place_order') }}" method="POST">
        <button class="hero-btn" type="submit">Place Order</button>
      </form>
    </div>

    {% else %}
    <h3>Your cart is empty!</h3>
    {% endif %}
  </section>

  <div class="footer">
    © 2025 3D-ALCHEMIST. All rights reserved.
  </div>
</body>
</html>
